---
import Link from "src/components/Link.astro";
import Layout from "src/layouts/BaseLayout.astro";
import {
  getCategories,
  sortCategoriesAlphabetically,
  sortMdByDate,
} from "src/utils/functions";
import type { Article } from "src/utils/types";

const articlesOnline = sortMdByDate(
  (await Astro.glob<Article>(`/src/pages/blog/**/*.mdx`)).filter(
    (a) => !a.frontmatter.draft
  )
);

const categories = sortCategoriesAlphabetically(
  getCategories(articlesOnline, Astro.url.pathname)
);

const length = articlesOnline.length;
---

<Layout title="Blog">
  <section>
    <h2>Catégories 🏷️</h2>
    <ul class="list-none flex flex-wrap">
      {
        categories.map((c) => (
          <li class="bg-gray-300 py-[2px] px-2 m-1 rounded-lg">
            <Link class="text-gray-800 text-sm" href={c.href}>
              {c.name}
            </Link>
          </li>
        ))
      }
    </ul>
  </section>
  <section>
    <h2>{length} Publication{length !== 1 ? "s" : ""} 📃</h2>
    <ul class="list-none">
      {
        articlesOnline.map((a) => (
          <li class="flex gap-x-10">
            <time class="text-gray-500 whitespace-nowrap">
              {a.frontmatter.date}
            </time>
            <Link href={a.url}>{a.frontmatter.title}</Link>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
