---
import Header from "src/components/Header.astro";
import type { MDXLayoutProps } from "astro";
import type { Article } from "src/utils/types";
import HeadingsToc from "src/components/HeadingsToc.astro";

type Props = MDXLayoutProps<Article>;

// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter: fm, headings } = Astro.props;
const headerSrcImage = "/src/pages" + fm.url + "/head.jpg";
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title></title>
  </head>
  <body>
    <Header />
    <section
      class="relative flex justify-center items-center h-[21rem] md:h-[30rem] mb-4"
    >
      <div class="p-4 z-40">
        <div class="w-full text-center">Publié le {fm.date}</div>
        <h1 class="w-full text-center">{fm.title}</h1>
      </div>
      <img
        src={headerSrcImage}
        class="absolute top-0 h-full w-full object-cover opacity-40"
      />
    </section>
    <!-- <main class="px-8 mx-auto max-w-3xl markdown grid grid-cols-[3fr_1fr]"> -->
    <main class="grid grid-cols-[2fr_1fr] items-start mx-auto max-w-4xl gap-x-10">
      <article class="max-w-xl markdown">
        <slot />
      </article>
      <aside class="block sticky top-24 text-xs overflow-y-auto mt-16">
        <HeadingsToc headings={headings} />
      </aside>
    </main>
    <footer></footer>
    <style is:global>
      @import "../styles/global.css";
    </style>
  </body>
</html>
